#Slide1{
    background-image: url("../img/slide/slide-1.jpg") ;
}
#Slide2{
    background-image: url("../img/slide/slide-2.jpg") ;
}
#Slide3{
    background-image: url("../img/slide/slide-3.jpg") ;
}